body {
}

ul,
ol {
        list-style: none;
        padding-left: 0;
        margin: 0;
}

a {
        text-decoration: none;
        color: inherit;
}

.header {
    color: #824a01;
}

.header-container {
    width: 1150px;

    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    font-size: 30px;
}

.header-nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-left: 100px;

}

.nav-item {
    padding: 0 100px;

}

.nav-link {
  
}

.header-address {
    text-align: center;
    font-weight: 900;
}

.address-list {
    align-items: center;
}