body {
    font-family: "Poppins", sans-serif;
}

ul,
ol {
        list-style: none;
        padding-left: 0;
        margin: 0;
}

a {
        text-decoration: none;
        color: inherit;
}

.container {
    margin: 0 auto;
}

/* HEADER */

.header {
    color: #824a01;
}

.header-container {
    display: flex;
    align-items: center;
    padding: auto;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 900;
    font-size: 39px;
}

.header-nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-left: 350px;
    margin-right: 250px;
    gap: 100px;
}


.nav-link {
    padding: 10px 10px;
    border-radius: 30px;
}

.nav-link:hover {
    background-color: #824a012b;
}

.header-address {
    font-weight: 900;
    padding: 0 0px;
    max-width: 300px;
    text-align: center;
    margin-left: auto;
}

.address-list {
    padding: 10px 10px;
    border-radius: 30px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.social-link {
    height: 30px;
}

.address-list:hover {
    background-color: #824a012b;
}

.address-link {
    padding: 5px 0;
}

/* HERO (Section 1) */

.hero {
    background-image: url(../images/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 900px;
    padding-left: 100px;
    color: aliceblue;
    display: flex;
    align-items: center;
}

.text-overlay {
    text-align: center;
    padding: 20px;
    background-color: #824a0178;
    border-radius: 60px;
}

.hero-title {
    font-size: 60px;
    font-weight: 900;
}

.hero-text {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hero-link {
    padding: 20px;
    background-color: #824a0178;
    border-radius: 30px;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
}

.hero-link:focus ,
.hero-link:hover {
    background-color: #824a01;
}

.hero-link-img {
    width: 40px; 
    height: 40px;
}

.about {
    text-align: left;
    padding: 0 100px 10px;
    font-weight: 500;
    font-size: 18px;
}

.about-title {
margin-top: 0;
padding-top: 20px;
}

.about-span {
    color: #824a01;
}

.about-list {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    align-content: center;
    padding: 0 0px;
    justify-content: center;
}

.about-item {
    max-width: 300px;
    padding: 10px 10px;
    background-color: #824a012b;
    border-radius: 60px;
}

/* SERVICE (Section 2) */

.service {
    padding-top: 20px;
    text-align: center;
    background-color: #824a012b;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.service-item {
    margin: 0 auto;
    padding: 5px 0 0 0;
    border-radius: 30px;
    background-color: #824a0116;
    overflow: hidden;
}

.service-title {
    font-weight: 900;
    font-size: 28px;
}

.service-list-title {
    font-weight: 600;
    font-size: 20px;
}

.service-img {
    max-width: 680px; 
    height: 700px;
}

.consultation {
    padding: 180px 0;
}

.consultation-list {
    text-align: center;
    display: flex;
    gap: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.consultation-item {
    text-align: center;
    background-color: #824a012b;
    border-radius: 60px;
    padding: 10px 40px;
}

.consultation-link {

}

.works {
    background-color: #824a012b;
    text-align: center;
    padding: 40px ;
}

.works-title {

}

.works-text {
    padding: 0 110px;
    margin: 0;
}

.works-list {
    
}

.works-item {
    padding-top: 50px;
}

.works-img {
    max-width: 100%;
    height: 700px;
}

.contacts {
    text-align: center;
    margin: 110px 400px;
    padding: 40px;
    background-color: #824a012b;
    border-radius: 70px;
}

.contacts-list {
    text-align: auto;
}

.contacts-item {
    padding: 5px;
    text-align: left;
}

.contacts-input {
    width: 100%;
}

.contacts-btn {
    text-align: center;
    padding: 20px 70px;
    border-radius: 70px;
    background-color: #824a012b;
    border-style: none;
    cursor: pointer;
}

.contacts-btn:hover {
    background-color: #874e045c;
}

.message-true {
    display: none;
    margin-top: 10px;
    padding: 5px 70px;
    border-radius: 70px;
    background-color: aquamarine;
}

.message-false {
    display: none;
    margin-top: 10px;
    padding: 5px 70px;
    border-radius: 70px;
    background-color: rgb(250, 0, 0);
}

.message-false-unknown {
    display: none;
    margin-top: 10px;
    padding: 5px 70px;
    border-radius: 70px;
    background-color: rgb(250, 0, 0);
}

.footer {
    background-color: #824a012b;
    display: flex;
}

.footer-address-list {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.footer-address-link {
    margin: 0 40px;
    font-weight: 500;
    font-size: large;
}

.ttlist {
    display: flex;
}